body {
    background-color: #e2f6e4ff;
}

.navbar {
    font-size: 40px;
}

.padded-nav-link {
    padding-left: 50px;
    padding-right: 50px;
}

.text-box {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #d9ead3ff;
    border-radius: 10px;
}